@import "./config/index.scss";


.Feedback {
    margin-top: 30px;
    & .btn-collapse-feedback {
        display: flex;
        align-items: center;
        & span {
            display: inline-block;
            margin-right: 4px;
            font-weight: bold;
            font-size: 18px;
        }
        & .collapse-icon {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
                background-color: #eee;
            }
            & img {
                width: 24px;
                height: 24px;
            }
            
        }
    }
    & .content-feedback {
        display: none;
        & p {
            font-size: 12px;
        }

        & .text {
            margin-top: 30px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            & .avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 10px;
                
                overflow: hidden;
                background-color: blue;
                display: flex;
                align-items: center;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            & .text-container {
                width: calc(100% - 50px);
                height: 48px;
                display: flex;
                align-items: center;
                & input {
                    width: 100%;
                    height: 90%;
                    border-radius: 18px;
                    border: 1px solid #ddd;
                    padding: 0 10px;
                    text-transform: capitalize;
                    &:focus {
                        outline: none;
                    }
                    &::-webkit-input-placeholder {
                        opacity: 0.5; /*Change the opacity between 0 and 1*/
                    }
                }
            }
        }
        & .submit-feedback {
            display: flex;
            justify-content: flex-end;
            .btn {
                padding: 10px 12px;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                font-size: 14px;
                margin-left: 6px;
                font-weight: bold;
            }
        }
    }
}

.rotate {
    transform: rotate(-90deg);
    transition: 0.4s;
}

.active {
    display: block!important;
}