.Load {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
    overflow: none;
    margin: 0 auto;
}