.PicContainer {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

.down-grid {
    position: absolute;
    width: calc(100vw + 40px);
    overflow: hidden;
    height: calc(200vh + 90px);
    top: 240px;
    left: 0;
    margin-left: -20px;
    margin-right: -20px;
    
    .column {
        padding: 0 6px; 
        & .Picture {
            height: 400px;
            margin-bottom: 12px;
            & .hover-container {
                display: none;
            }
            & .main-image {
                height: 100%!important;
                cursor: default!important;
                & .image {
                    height: 100%;
                    & span {
                        & img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .column:nth-child(2),.column:nth-child(5) {
        margin-top: 200px;
    }
    
    .column:nth-child(3),.column:nth-child(4) {
        margin-top: 300px;
    }    
}
