@import "./config/index.scss";




.Pin {
    max-width: 960px;   
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    & .wrapper {
        max-width: 1260px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        gap: 30px;
        & .main-image {
            @include sizeBox(100%,100%);
        
            overflow: hidden;
            & img {
                @include sizeBox(100%,auto);
                display: block;
                border-radius: 20px;
            }
        }

        & .info-image {
            padding: 20px 0px;
            & .top-info {
                display: flex;
                justify-content: space-between;
                & .btn-action-left {
                    display: flex;
                    gap: 5px;
                    & .btn-icon {
                        cursor: pointer;

                        
                        & img {
                            width: 20px;
                            height: 20px;
                        }
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }

                & .btn-action-right {
                    display: flex;
                    align-items: center;
                    & .info {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        word-spacing: 2px;
                        cursor: pointer;
                        & span {
                            display: block;
                            margin-right: 10px;
                            font-size: 14px;
                        }
                    }

                    & .save-btn {
                        background-color: #E60023;
                        padding: 10px 16px;
                        border-radius: 46px;
                        color: white;
                        margin-left: 20px;
                        cursor: pointer;
                    }
                }
            }

            & .content-info {
                color: black!important;
                & .from-link {
                    margin-top: 10px;
                    & a {
                        color: black!important;
                        opacity: 0.8;
                        cursor: pointer;
                        line-height: 3px;
                        text-decoration: underline;
                    }
                }

                & .name-image {
                    margin-top: 20px;
                    & h4 {
                        font-weight: 700;
                        font-size: 36px;
                        text-transform: capitalize;
                        margin-bottom: 16px;
                    }
                    & p {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }

                & .user {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    justify-content: space-between;
                    height: 50px;
                    & .info-user {
                        display: flex;
                        align-items: center;
                        & .avatar {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-right:  10px;
                            cursor: pointer;
                            & img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                
                            }
                        }

                        & .info-alt {
                            text-transform: capitalize;
                            cursor: pointer;
                            & h5 {
                                
                            }
                        }
                    }

                    & .follow-btn {
                        background-color: #E2E2E2;
                        display: flex;
                        align-items: center;
                        padding:0px  16px;
                        cursor: pointer;
                        border-radius: 60px;
                        & p {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.rounded {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: white;
    @include flexBox(column, center, center)
}
