@import "./config/index";



.ReviewNavbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
    overflow: hidden;
    background-color: white;
    z-index: 10;
    & .logo {
        display: flex;
        align-items: center;
        & .icon-logo {
            fill: #E60023;
            margin-right: 6px;
        }
        & p {
            font-family: 'Arimo', sans-serif;
            font-size: 18px;
            font-weight: 700px;
            color: $primary-color;
        }
    }

    & .menu {
        z-index: 10;
        & ul {
            display: flex;
            align-items: center;
            font-weight: bold;
            & li {
                margin-left: 30px;
                font-size: 16px;
                cursor: pointer;
             
            }
            & .text {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}