<div class="home">
        <div class="main">
            <app-awe-section></app-awe-section>
            <app-section-category></app-section-category>
            <app-section-design></app-section-design>
            <app-section-product></app-section-product>
            <app-section-video></app-section-video>
            <app-section-feedback></app-section-feedback>
            <app-section-banner></app-section-banner>
            <app-section-news></app-section-news>
            <app-section-regis-info></app-section-regis-info>
            <app-footer></app-footer>
        </div>
</div>
