<div class="section-banner">
    <div class="container">
        <div class="content">
            <h3>KHÁM PHÁ HỘI THẢO CỦA CHÚNG TÔI</h3>
            <p>Chúng tôi chỉ sử dụng những vật liệu tốt nhất và sự khéo léo trong các sản phẩm của mình. Nếu bạn quan tâm thì hãy đọc tiếp câu chuyện của chúng tôi</p>
            <app-button-design
                color="white"
                borderStr="1px solid white"
                bgColor="none"
                text="Đọc tiếp"
            ></app-button-design>
        </div>
    </div>
</div>