<div class="section-feedback-item">
    <div class="container">
        <div class="main-content">
            <div class="shape-content">
                <div class="top-symbol">
                    <h3>“</h3>
                </div>
                <div class="feedback-content">
                    <p>{{feedback}}</p>
                </div>
            </div>
            <div class="info">
                <div class="image">
                    <img src='{{urlImage}}'/>
                </div>
                <div class="name">{{name}}</div>
            </div>
        </div>
    </div>
</div>