<div class="section-design">
    <div class="container">
        <div class="main-content">
            <div class="left-content">
                <div class="title">
                    <h3>Tinh xảo trong từng thiết kế</h3>
                    <p>Galleria mang tính biểu tượng của chúng tôi đã được thiết kế lại hoàn toàn từ trong ra ngoài cho năm 2021 MUA NGAY tại link dưới !</p>
                    <app-button-design 
                        color="black" 
                        bg="#D4651F" 
                        
                    >
                </app-button-design>
                </div>
            </div>
            <div class="right-content">
                <div class="image">
                    <img src="https://bizweb.dktcdn.net/100/430/435/themes/831833/assets/banner1.jpg?1645199285789" alt="">
                </div>
            </div>
        </div>
    </div>
</div>