@mixin sizeBox($width, $height) {
    width: $width;
    height: $height;
}

@mixin rounded {
    border-radius: 50%;
}

@mixin flexBox($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin save-btn {
    width: 60px;
    height: 46px;
    background-color: #e60023;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
}